@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 190, 90%, 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --secondary-100: 190, 10%, 88%;
    --secondary-600: 214, 16%, 17%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 190, 90%, 50%;
    --radius: 0.3rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 210, 11%, 15%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 190, 90%, 50%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --secondary-100: 208, 7%, 46%;
    --secondary-600: 0, 0%, 100%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scrollbar-none md:scrollbar-thin scrollbar-thumb-primary scrollbar-track-zinc-900 selection:bg-primary dark:selection:bg-primary selection:text-white;
  }
}

/* CSS */
.customBtn {
  box-shadow: rgba(13, 202, 240, 0.2) 0 -25px 18px -14px inset,
    rgba(13, 202, 240, 0.15) 0 1px 2px, rgba(13, 202, 240, 0.15) 0 2px 4px,
    rgba(13, 202, 240, 0.15) 0 4px 8px, rgba(13, 202, 240, 0.15) 0 8px 16px,
    rgba(13, 202, 240, 0.15) 0 16px 32px;
}

.customBtn:hover {
  box-shadow: rgba(13, 202, 240, 0.35) 0 -25px 18px -14px inset,
    rgba(13, 202, 240, 0.25) 0 1px 2px, rgba(13, 202, 240, 0.25) 0 2px 4px,
    rgba(13, 202, 240, 0.25) 0 4px 8px, rgba(13, 202, 240, 0.25) 0 8px 16px,
    rgba(13, 202, 240, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.custom-bezier * {
  @apply transition-all duration-400 ease-custom-bezier;
}
